<?xml version="1.0" encoding="UTF-8"?>
  <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper .//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.newins.dao.ReportDao">
  	<resultMap type="com.newins.model.ReportItem" id = "reportMap">
  		<result property="reportId" column="reportId" />
		<result property="reportTitle" column="reportTitle" />
		<result property="summary" column="summary" />
		<result property="publisher" column="publisher" />
		<result property="pTime" column="pTime" />
		<result property="reportUrl" column="reportUrl" />
		<result property="reportImg" column="reportImg" />
		<result property="viewNum" column="viewNum" />
		<result property="commentNum" column="commentNum" />
		<result property="tag1Str" column="tag1Str" />
		<result property="tag2Str" column="tag2Str" />
		<result property="tag3Str" column="tag3Str" />
		<result property="tag4Str" column="tag4Str" />
	</resultMap>
	
	<select id = "getReportInfo" resultMap = "reportMap">
	SELECT
		ni_report.reportId,
		ni_report.reportTitle,
		ni_report.reportImg,
		ni_report.viewNum,
		ni_report.commentNum,
		ni_report.tag1Str,
		ni_report.tag2Str,
		ni_report.tag3Str,
		ni_report.tag4Str,
		ni_report.summary,
		ni_report.reportUrl,
		ni_report.publisher,
		ni_report.pTime
	FROM
		ni_report ,
		ni_report_wanx
	WHERE
		ni_report.reportId = ni_report_wanx.reportId AND
		ni_report_wanx.pageStatus = "1"
	ORDER BY
		ni_report_wanx.isTop ASC,
		ni_report_wanx.showOrder ASC
	
	
	</select>

</mapper>	
		