<?xml version="1.0" encoding="UTF-8"?>
  <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper .//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newins.dao.SurveyQuestionnaireDao">
	<resultMap type="com.newins.model.SurveyQuestionnaire" id="surveyQuestionnaireMap">
		<result property="sqnId" column="sqnId" />
		<result property="sqnName" column="sqnName" />
		<result property="publisherName" column="publisherName" />
		<result property="sqnClassName" column="sqnClassName" />
		<result property="sqnSummary" column="sqnSummary" />
		<result property="perface" column="perface" />
		<result property="epilogue" column="epilogue" />
		<result property="questionQty" column="questionQty" />
		<result property="comment" column="comment" />
		<result property="picPath" column="picPath" />
		<result property="award1Id" column="award1Id" />
		<result property="lotteryId" column="lotteryId" />
	</resultMap>

	<select id="loadSurveyQuestionnaire" resultMap="surveyQuestionnaireMap"
		parameterType="int">
		SELECT
		ni_survey_delivery_wanx.award1Id,
		ni_survey_delivery_wanx.lotteryId,
		ni_survey_questionnaire.sqnId,
		ni_survey_questionnaire.sqnName,
		ni_survey_questionnaire.publisherName,
		ni_survey_questionnaire.epilogue,
		ni_survey_questionnaire.perface,
		ni_qnclass_dict.qnClassName as sqnClassName,
		ni_survey_questionnaire.questionQty,
		ni_survey_questionnaire.picPath,
		ni_survey_questionnaire.sqnSummary,
		ni_survey_questionnaire.comment
		FROM
		ni_survey_questionnaire,ni_qnclass_dict,ni_survey_delivery_wanx
		WHERE
		ni_survey_delivery_wanx.deliveryId=#{deliveryId}
		and
		ni_survey_questionnaire.sqnId=ni_survey_delivery_wanx.sqnId
		and
		ni_qnclass_dict.qnClassId=ni_survey_questionnaire.sqnClassId
	</select>



</mapper>