<?xml version="1.0" encoding="UTF-8"?>
  <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper .//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.newins.dao.VoteOrderDao">
	<resultMap type="com.newins.model.VoteOrder" id="voteOrderMap">
		<result property="orderId" column="orderId" />
		<result property="userId" column="userId" />
		<result property="vqnId" column="vqnId" />
		<result property="awardId" column="awardId" />
		<result property="sequenceNum" column="sequenceNum" />
		<result property="orderStatus" column="orderStatus" />
		<result property="orderCTime" column="orderCTime" />
		<result property="answerBTime" column="answerBTime" />
		<result property="answerETime" column="answerETime" />
		<result property="reviewer" column="reviewer" />
		<result property="comment" column="comment" />
	</resultMap>
	
	<select id="getVoteOrderById" resultMap="voteOrderMap" parameterType="java.util.Map">
		SELECT *
		FROM ni_vote_order
		WHERE userId=#{userId} and vqnId=#{vqnId}	
	</select>
	


</mapper>